{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css-files/Department Assignment.css' %}">
    <script src="{% static 'js-files/departmentAssign.js' %}"></script>
</head>

<body>
        <h1>Department Assignment</h1>
        <!-- A sample of the view students table in html-->

        <section class="dark">
            <table>
                <thead>
                    <th>Student Name</th>
                    <th>Student ID</th>
                    <th>level</th>
                    <th>choose</th>
                    <th>Assignment</th>
                    <th>Department</th>
                </thead>
                <tbody>
                    {% for s in students %}
                    <form action="assign/{{ s.ID }}" method="POST">
                        {% csrf_token %}
                        <tr>
                            <td>{{ s.name }}</td>
                            <td>{{ s.ID }}</td>
                            <td name="level" class="levels">{{ s.level }}</td>
                            <td>
                                <select name="dep" class="departments">
                                    <option value="general">General</option>
                                    <option value="cs">CS</option>
                                    <option value="is">IS</option>
                                    <option value="ai">AI</option>
                                    <option value="it">IT</option>
                                    <option value="ds">DS</option>
                                </select>
                            </td>
                            
                            <td><button class="set">set Department</button></td>
                            <td class="dep">{{ s.dep }}</td>
                        </tr>
                    </form>
                    {% endfor %}
                    
                </tbody>
            </table>
        </section>
        <hr>
        <div class="select">
            <label for="dept">Department</label>
        </div>

</body>

</html>

{% endblock content %}